.menu
  div#logo
    a(href="/")
      | Logo
  - if (isAuthenticated)
    nav
      ul
        li
          a(href="/admin") Settings
nav
  ul
    li
      div= userName
    - if (!isAuthenticated)
        li
          a(href="/login") Login
    - else
        li
          a(href="/logout") Logout