extends layout

block content
 
  .subnav 
    nav
      ul
        li: a(href='/admin/config/') Config
        li: a(href='/admin/backlinks/') Backlinks
        li: a(href=reloadLink target='_blank') Reload config on server
        li: a(href=linkfarmHPLink) Go to link farm
  
  h1= title

  pre!= config

  p
      a(href='/admin/config/update') Edit

